결과 값은 콘솔을 확인하세요!

<p>Performance Entry 목록 보기</p>
<button class="button"(click)="printPerformanceEntries()">PerformanceEntry들 보기</button>

<p>마크를 찍고 시간 간격을 보려면 </p>
<button class="button"(click)="mark('markA')">markA 생성</button>
<button class="button"(click)="mark('markB')">markB 생성</button>
<button class="button"(click)="measure()">A~B를 측정</button>
<button class="button"(click)="clear()">초기화</button>

<p>DOMHighResTimeStamp</p>
<button class="button"(click)="printDOMHighResTimeStamp()">now</button>