/* You can add global styles to this file, and also import other style files */
.button {
    font-weight: 400;
    background-color:rgba(17, 17, 17, 0.267);

    padding: 10px;
    border-radius: 10px;
    border: none;
}