.index-item {
    color: white;
    font-weight: 400;
    background-color:rgb(47, 15, 110);
    padding: 10px;
    border-radius: 10px;
}

.index-item + .index-item {
    margin-left: 10px;
}

.index-flex {
    display: flex;
    flex-flow: row wrap;
}